@model BlogSite.Models.Projeler

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<div class="container">


    @using (Html.BeginForm("Create", "Projelers", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <b class="control-label col-md-2">Proje Adı: </b>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProjeAdi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProjeAdi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <b class="control-label col-md-2">Proje Dili: </b>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProjeDili, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProjeDili, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <b class="control-label col-md-2">Projeler Sol: </b>
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.ProjelerSol)
                    @Html.ValidationMessageFor(model => model.ProjelerSol, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <b class="control-label col-md-2">Projeler Sağ: </b>
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.ProjelerSag)
                    @Html.ValidationMessageFor(model => model.ProjelerSag, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>



        <div class="form-group">
            <b class="control-label col-md-2">Detay: </b>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Detay, new { @class = "form-control", @style="height:150px" } )
                @Html.ValidationMessageFor(model => model.Detay, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <b class="control-label col-md-2">Url: </b>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Url, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Url, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <b class="control-label col-md-2">Görünüm:</b>
            <div class="col-md-3">
                <input type="file" name="file" id="file" accept=".jpg,.png" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary"style="width:200px;height:50px" />
            </div>
        </div>
    </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</div>